@use 'variables' as *;
@use 'mixins' as *;

$zwssgrbadge: ".zwssgr";

#{$zwssgrbadge} { 
    &-badge-wrap {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 30px;
        padding-top: 20px;
        #{$zwssgrbadge} { 
            &-option-item {
                width: calc(33.33% - 20px);
                padding: 20px;
                box-shadow: none;
                background: var(--primary-color);
                box-sizing: border-box;
                text-align: center;
                margin: 0;

                @include respond-below('xl') {
                    width: calc(50% - 15px);
                }

                @include respond-below('sm') {
                    width: 100%;
                }
            }

            &-layout-title {
                color: var(--black-color);
            }
        }
    }

    &-layout-title-wrap {
        margin-bottom: 20px;
    }

    &-badge-item {
        box-shadow: 10px 10px 30px 0px #00000005;
        text-align: center;
        padding: 30px;
        background-color: var(--white-color);
        border-radius: var(--border-radius-extra-large);

        #{$zwssgrbadge} {
            &-average {
                color: var(--body-color);
                font-weight: var(--font-weight-700);
                font-size: var(--font-size-h3);
                font-family: var(--font-primary);
                text-transform: uppercase;
                margin: 0 0 10px;
            }
            &-final-review-wrap {
                position: relative;
                width: 100px;
                margin: 0 auto;
            }

            &-based-on {
                color: var(--body-color);
                font-size: var(--font-size-body);
                font-weight: var(--font-weight-400);
                font-family: var(--font-primary);
                margin: 15px 0;
            }

            &-final-review-fill {
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                overflow: hidden;
            }

            &-rating-wrap {
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 20px;
                align-items: center;
            }

            &-google {
                color: var(--slate-gray);
                font-size: var(--font-size-h4);
                font-weight: var(--font-weight-700);
                margin: 0;
            }

            &-avg-note {
                color: var(--slate-gray);
                font-size: var(--font-size-body);
                font-weight: var(--font-weight-400);
                margin: 10px 0;
            }

            &-logo-wrap {
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 25px;
                    height: 25px;
                    padding-right: 10px;
                }
            }
        }
    }

    &-badge2 {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 20px;

        #{$zwssgrbadge} {
            &-badge-image {
                width: 90px;
            }

            &-badge-info {
                width: calc(100% - 110px);
                padding-left: 20px;
                text-align: left;
            }

            &-final-review-wrap {
                margin: initial;
            }
        }
    }

    &-badge3 {
        #{$zwssgrbadge} {
            &-rating-wrap {
                justify-content: center;
                align-items: center;
            }
            &-rating {
                margin-right: 0;
                margin-left: 10px;
            }
            &-final-rating {
                font-weight: var(--font-weight-900);
                font-size: var(--font-size-h1);
                color: var(--black-color);
                font-family: var(--font-primary);
            }
        }
    }

    &-badge4 {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 20px;

        #{$zwssgrbadge} {
            &-badge4-rating {
                width: 45%;
                padding-right: 20px;
                box-sizing: border-box;
            }
            &-badge4-info {
                width: 55%;
                text-align: center;
            }

            &-final-rating {
                color: var(--secondary-color-200);
                font-size: var(--font-size-60);
                font-weight: var(--font-weight-700);
                font-family: var(--font-primary);
                line-height: 1;
            }
        }
        
    }

    &-badge5 {
        display: flex;
        flex-wrap: wrap;
        padding: 0 ;
        #{$zwssgrbadge} {
            &-badge5-rating {
                background-color: var(--secondary-color-200);
                padding: 20px;
                border-radius: 16px 0 0 16px;
                width: 40%;
                box-sizing: border-box;
                text-align: center;
                max-height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &-badge5-info {
                width: 60%;
                padding: 20px;
                box-sizing: border-box;
                text-align: center;
            }

            &-final-rating {
                color: var(--white-color);
                font-size: var(--font-size-62);
                font-weight: var(--font-weight-700);
                font-family: var(--font-primary);
                line-height: 1;
            }
        }

       
    }

    &-badge6 {
        #{$zwssgrbadge} { 
            &-badge6-rating {
                display: flex;
                align-items: center;
                margin-bottom: 30px;
            }

            &-final-rating {
                color: var(--tertiary-color);
                font-weight: var(--font-weight-700);
                font-size: var(--font-size-40);
                font-family: var(--font-primary);
                padding-right: 20px;
            }
        }
       
    }

    &-badge7 {
        #{$zwssgrbadge} { 
            &-badge7-rating {
                display: flex;
                align-items: center;
                margin-top: 20px;
                justify-content: center;
            }

            &-final-rating {
                font-weight: var(--font-weight-900);
                font-size: var(--font-size-h1);
                color: var(--black-color);
                font-family: var(--font-primary);
                padding-right: 5px;
            }
        }
        
    }

    &-badge8 {
        #{$zwssgrbadge} { 
            &-final-review-wrap{
                margin: 5px auto;
            }

            &-final-rating {
                color: var(--slate-gray);
                font-size: var(--font-size-56);
                font-weight: var(--font-weight-400);
                line-height: 60px;
            }
        }
     
    }


    &-badge9 {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        #{$zwssgrbadge} { 
            &-badge-image{
                width: 90px;
            }
            &-badge-info {
                width: calc(100% - 110px);
                padding-left: 20px;
                text-align: left;
            }
            &-average {
                text-transform: capitalize;
                font-size: var(--font-size-h2);
            }

            &-final-review-wrap {
                margin: initial;
            }

            &-based-on {
                margin-bottom: 0;
                margin-top: 5px;
            }
        }
    }

    &-badge10 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 20px;
        img {
            width: 25px;
            height: 25px;
            padding-left: 10px;
        }
        #{$zwssgrbadge} {  
            &-final-rating {
                font-size: var(--font-size-h1);
                font-weight: var(--font-weight-700);
                color: var(--black-color);
            }
            &-rating {
                padding: 0 20px;
            }
            &-final-review-wrap {
                line-height: 10px;
            }
        }
    }

    &-badge11 {
        img {
            width: 35px;
            height: 35px;
            padding-right: 10px;
        }
        #{$zwssgrbadge} {  
            &-badge-info {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: var(--font-size-body);
                color: var(--slate-gray);
                font-weight: var(--font-weight-500);
                padding-top: 10px;
            }
        }
    }

    &-badge-link {
        text-decoration: none;
        width: auto;
        display: inline-block;

        &:focus {
            box-shadow: none;
            outline: none;
        }
    }
}

