@use 'variables' as *;

.zwssgr-plugin-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9999;
    display: none;

    &-content {
        background: var(--white-color);
        width: 450px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        border-radius: var(--border-radius-large);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
        text-align: center;
        position: relative;
    }

    &-header h2 {
        margin: 0;
        font-size: var(--font-size-h1);
        color: var(--body-color);
        font-family: var(--font-primary);
    }

    &-body {
        margin-top: 15px;
    }
}
