:root {

     /* Fonts */
     --font-primary: 'Poppins', sans-serif;

    /* Colors */
    --primary-color: #3caab4;
    --secondary-color: #0074A2;
    --tertiary-color: #F08C3C;
    --gray-color: #8E8E8E;
    --body-color: #1B1B1B;
    --white-color: #FFFFFF;
    --black-color: #000000;

    /* Font Sizes */
    --font-size-h1: 20px;
    --font-size-h2: 18px;
    --font-size-body: 16px;
    --font-size-14: 14px;

    /* Font Weights */
    --font-weight-700: 700;
    --font-weight-600: 600;
    --font-weight-500: 500;
    --font-weight-400: 400;

    /* Border Radius */
    --border-radius-large: 8px;
    --border-radius: 4px;

}
