
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
body .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
body .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}
body .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}
body input:checked + .slider {
    background-color: #0074A2;

}
body input:checked + .slider:before {
    transform: translateX(26px);
}


body .zwsgr-option-item {
    display: none;
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0.5px 2px 0px #252A3B1C;
    border-radius: 16px;
}

body .selected-option-display,
body .generated-shortcode-display {
    margin-top: 20px;
    padding: 10px;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    font-size: 18px;
}

body .tab-content {
    display: none;
    padding-right: 1rem;
}

body .tab-content.active {
    display: block;
}

body .star-filter {
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    transition: fill 0.2s ease;
}

body .star-filter.selected svg path {
    fill: #f39c12; /* Gold color for selected stars */
}

body .keywords-list {
    margin-top: 10px;
}

body .keyword-item {
    display: inline-block;
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

body .remove-keyword {
    cursor: pointer;
    color: red;
    margin-left: 5px;
}
body .error-message {
    margin-top: 5px;  
    font-size: 14px; 
}
body .zwsgr-option-item.selected {
    border: 5px solid #285064;
}

body .zwsgr-option-item.selected[data-type="badge"] {
    background-color: #3caab4;
}

body .zwsgr-option-item.selected[data-type="badge"] .zwsgr-layout-title {
    color: #000;
}

/* Final Design CSS */

body .zwsgr-page-title {
    font-size: 18px;
    font-weight: 600;
    color: #1B1B1B;
    font-family: 'Poppins', sans-serif;
    border-bottom:1px solid rgba(16, 41, 50, 0.10);
    padding-bottom: 20px;
}
body .zwsgr-nav-tab-wrapper {
    border-bottom: 1px solid rgba(221, 225, 231, 1);
}

.zwsgr-nav-tab-wrapper .nav-tab{
    background: none;
    box-shadow: none;
    border: none;
    color: #285064;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 15px;
}

body .nav-tab.nav-tab-active {
    background: none !important;
    border: none;
    border-bottom-width: 3px;
    border-bottom-color: #11AAB4 !important;
    border-bottom-style: solid;
}


body input.zwsgr-input-text{
    padding: 10px 16px;
    border: 1px solid #C1CFDE;
    background: #FCFCFC;
    height: 48px;
    box-shadow: none;
    color: #4A494B;
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    line-height: 1;
    width: 100%;
    max-width: 500px;
}

body .zwsgr-textarea {
    padding: 10px 16px;
    border: 1px solid #C1CFDE;
    background: #FCFCFC;
    height: 200px;
    box-shadow: none;
    color: #4A494B;
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    line-height: 1;
    width: 100%;

}
body select.zwsgr-input-text{
    padding: 10px 16px;
    border: 1px solid #C1CFDE;
    height: 48px;
    box-shadow: none;
    color: #4A494B;
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.3;
    background: #FCFCFC url('../images/down-arrow.png') no-repeat right 7px top 55%;
    background-size: 16px 10px;
    width: 100%;
    max-width: 500px;
}

body select.zwsgr-input-text option {
    font-weight: 400;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
}

body select.zwsgr-input-text:focus,
body input.zwsgr-input-text:focus {
   box-shadow: none;
   border: 1px solid #C1CFDE;
}

body .zwsgr-slider .zwsgr-star, body .zwsgr-badge-wrap .zwsgr-badge-item .zwsgr-star {
    font-size: 20px;
}

body input.zwsgr-checkbox {
    width: 16px;
    height: 16px;
    border-radius: 4px;
    border: 1px solid #9C9C9C;
    background: #F6F6F6;

}
body input.zwsgr-checkbox:checked {
    background-color: #11AAB4;  
    border: 1px solid #0074A2;
    border-radius: 4px;
}
body input.zwsgr-checkbox:checked:before {
    content: url('../images/checked-icon.png') ;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 14px;
    width: 14px;
    margin: 0;
}
body .zwsgr-chechbox-label {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    line-height: 1;
}
body .zwsgr-submit-btn.button {
    padding: 20px 24px 20px 24px;
    border-radius: 4px;
    border: 1px solid #11AAB4;
    background-color: #FFFFFF;
    color: #0074A2;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    line-height: 1;
}

body .zwsgr-submit-btn.button:hover {
    background-color: #0074A2;
    color: #FFFFFF;
}

body .zwsgr-btn {
    background-color: #F08C3C;
    padding: 20px 24px 20px 24px;
    border-radius: 4px;
    color: #102932;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    line-height: 1;
    border: 1px solid #F5B976;
    cursor: pointer;
}

body .select-btn.zwsgr-btn {
    padding: 10px;
    font-size: 14px;
}

body .zwsgr-btn:hover {
    background-color: #0074A2;
    border: 1px solid #0074A2;
    color: #FFFFFF;
}

body .zwsgr-section-wrap {
    border-radius: 16px;
    box-shadow: 0px 0.5px 2px 0px #252A3B1C;
    background: #FFFFFF;
    padding: 20px;
    margin-top: 20px;
}

body .zwsgr-section-wrap form h2 {
    display: none;
}


body .zwsgr-setting-form th,
body .zwsgr-th,
body .zwsgr-label {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: #285064;
}

body .zwsgr-description {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #285064;
    margin-top: 5px;
}

body .zwsgr-notification-field {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}

body .zwsgr-notification-field .zwsgr-th-label {
    width: 200px;
}
body .zwsgr-notification-field .zwsgr-field {
    width: 100%;
    max-width: 400px;
}

body .zwsgr-widget-settings {
    box-shadow: 0px 0.5px 2px 0px #252A3B1C;
    padding: 1rem;
    background-color: #fff;
    border-radius: 12px;
    margin-bottom: 20px;
}

body .zwsgr-widget-wrap {
    display: flex;
    flex-wrap: wrap;
}

body .zwsgr-widget-wrap .zwsgr-widget-setting {
    width: 45%;
}

body .zwsgr-widget-wrap .zwsgr-widget-eleemt-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

body .zwsgr-widget-wrap .zwsgr-widget-eleemt-list li {
    padding: 0 0 20px 0;
    margin: 0;
    width: 33.33%;
}

body .zwsgr-color-options,
body .zwsgr-color-options_load {
    display: flex;
    margin-top: 10px;
}

body .zwsgr-color-options .zwsgr-color-picker,
.zwsgr-color-options_load .zwsgr-color-picker-load{
    margin-right: 25px;
    display: flex;
    align-items: center;
}

body .zwsgr-color-options .zwsgr-color-picker label,
body .zwsgr-color-options_load .zwsgr-color-picker-load label {
    padding-right: 10px;
}

body .zwsgr-custom-tab {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 30px 0;
}

body .zwsgr-custom-tab .zwsgr-tab-item {
    font-size: 14px;
    font-weight: 400;
    color: #4A494B;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    pointer-events: none;
    text-transform: capitalize;
    padding-bottom: 10px;
}
body .zwsgr-custom-tab .zwsgr-tab-item.done {
    pointer-events: all;
}

body .zwsgr-custom-tab .zwsgr-tab-item.active {
    color: #285064;
    font-weight: 600;
    pointer-events: all;
}

body .zwsgr-custom-tab .zwsgr-tab-item span.zwsgr-step {
    font-weight: 600;
    color: #1B1B1B;
    margin-right: 10px;
    position: relative;
    width: 18px;
    height: 19px;
    background: #f0f0f1;
    border-radius: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
}

body .zwsgr-custom-tab .zwsgr-tab-item.done span.zwsgr-step {
    font-size: 0;
}
body .zwsgr-custom-tab .zwsgr-tab-item.done span.zwsgr-step:before {
    content: url('../images/step-done-icon.png') ;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 18px;
    width: 18px;
    margin: 0;

}
body .zwsgr-custom-tab .zwsgr-step-arrow {
    position: relative;
    margin: 0px 20px;
}

body .zwsgr-custom-tab .zwsgr-step-arrow:before, body .zwsgr-custom-tab .zwsgr-step-arrow:after {
    content: "";
    background: #4A494B;
    position: relative;
    width: 10px;
    height: 2px;
    display: block;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 2px;
    top: 6px;
}

body .zwsgr-custom-tab .zwsgr-step-arrow:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 10px;
}

body .zwsgr-layout-radio {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0.5px 2px 0px #252A3B1C;
    border-radius: 16px;
    flex-wrap: wrap;
}

body .zwsgr-layout-radio label { 
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1;
    margin-right: 30px;
}

body input.zwsgr-radio {
    width: 17px;
    height: 17px;
    position: relative;
}

body input.zwsgr-radio:checked::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-54.5%, -48.5%);
    margin: 0;
    width: 10px;
    height: 10px;
}

body .zwsgr-gmbc-outer-wrapper {
    position: absolute;
    height: 100%;
    min-height: 100vh;
    width: calc(100% + 20px);
    left: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}


body .zwsgr-gmbc-outer-wrapper::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    z-index: 2;
}

body .zwsgr-gmbc-outer-wrapper .zwsgr-gmbc-container {
    width: 100%;
    max-width: 500px;
    min-height: 125px;
    background-color: white;
    position: relative;
    padding: 25px;
    border-radius: 8px;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

body .zwsgr-gmbc-outer-wrapper .zwsgr-gmbc-inner-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body .zwsgr-gmbc-outer-wrapper .zwsgr-gmbc-inner-wrapper span, 
body .zwsgr-gmbc-outer-wrapper .zwsgr-gmbc-inner-wrapper input {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: #285064;
    text-align: center;
    margin: 0 0 15px 0 !important;
}

body .zwsgr-gmbc-outer-wrapper .zwsgr-gmbc-inner-wrapper input {
    text-align: left;
}

#fetch-gmb-auth-url #fetch-gmb-auth-url-response .error, 
#fetch-gmb-auth-url #fetch-gmb-auth-url-response .success,
#disconnect-gmb-auth #disconnect-gmb-auth-response .error, 
#disconnect-gmb-auth #disconnect-gmb-auth-response .success,
body .zwsgr-caution-div .zwsgr-chechbox-label {
    font-size: 15px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: red;
    text-align: left;
    margin: 0 0 10px 0 !important;
}

#fetch-gmb-auth-url #fetch-gmb-auth-url-response .success, 
body #disconnect-gmb-auth #disconnect-gmb-auth-response .success {
    color: green;
}

body #disconnect-gmb-auth input#delete-all-data {
    margin: 0 5px 0 0 !important;
}

body #disconnect-gmb-auth .danger-note {
    margin: 0 0px 15px 0;
}

body #fetch-gmb-data {
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0.5px 2px 0px #252A3B1C;
    border-radius: 16px;
}

body #fetch-gmb-data .notice {
    margin: 10px 0 !important;
}

body #fetch-gmb-data .response {
    width: 100%;
}

body #fetch-gmb-data .response .error, #fetch-gmb-data .response .success {
    font-size: 18px;
    color: red;
}

body #fetch-gmb-data .response .success {
    color: green;
}

body #fetch-gmb-data .progress-bar {
    display: none;
    position: relative;
    margin: 0 0 20px 0;
    width: 100%;
}

body #fetch-gmb-data .progress-bar.true {
    display: block;
}


body #fetch-gmb-data .progress-bar #progress {
    width: 100%;
    height: 35px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 10px;
}

body #fetch-gmb-data .progress-bar #progress-percentage {
    position: absolute;
    color: white;
    font-size: 18px;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    font-weight: bold;
}

body #fetch-gmb-data .progress-bar #progress::-webkit-progress-bar {
    background-color: lightgrey;
    border-radius: 10px;
}

body #fetch-gmb-data .progress-bar #progress::-webkit-progress-value {
    background-color: green;
    border-radius: 10px;
}

body #fetch-gmb-data .progress-bar #progress::-moz-progress-bar {
    background-color: green;
    border-radius: 10px;
}

body #fetch-gmb-data .zwsgr-input-text {
    padding: 8px 26px 10px 16px;
    max-width: 310px;
    margin-right: 10px;
    text-overflow: ellipsis;
}

body #fetch-gmb-data .zwsgr-input-text.disabled {
    pointer-events: none;
}

body #fetch-gmb-data .zwsgr-submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 24px 14px 24px;
    width: fit-content;
    flex-direction: row-reverse;
    margin: 0;
}

body #fetch-gmb-data .zwsgr-submit-btn.disabled {
    pointer-events: none;
}

body #fetch-gmb-data .zwsgr-submit-btn .spinner.is-active {
    margin: 0 0 0 10px;
}

body #fetch-gmb-data .fetch-gmb-inner-data {
    display: flex;
    justify-content: left;
    align-items: center;
}

body .zwsgr-sort-by-checkbox {
    padding-top: 10px;
}

body .zwsgr-sort-by-checkbox .zwsgr-chechbox-label {
    font-size: 14px;
}

body .zwsgr-toogle-display {
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    padding: 30px;
    margin: 0 auto;
    text-align: center;
}

@media only screen and (max-width: 782px) {
    
    body .zwsgr-gmbc-outer-wrapper {
        left: -10px;
        width: calc(100% + 10px);
    }
    body .zwsgr-gmbc-outer-wrapper .zwsgr-gmbc-container {
        max-width: 556px !important;
    }

    body #fetch-gmb-data .fetch-gmb-inner-data {
        flex-direction: column;
    }

    body #fetch-gmb-data .zwsgr-input-text {
        max-width: 100%;
        margin: 0 0 10px 0;
    }

}

@media only screen and (max-width: 576px) {
    body .zwsgr-gmbc-outer-wrapper .zwsgr-gmbc-container {
        max-width: 300px !important;
    }
}

/* General button styles */

body #gmb-review-data .separator-cell .separator {
    border-top: 2px dashed #0074A2;
    margin: 0;
}

body #gmb-review-data .cta-wrapper {
    position: relative;
    margin: 10px 0 0 0;
}

body #gmb-review-data .cta-wrapper .zwsgr-submit-btn {
    margin-right: 10px;
}

body #gmb-review-data .cta-wrapper .zwsgr-submit-btn#add-reply {
    margin-right: 0px !important;
}

body #gmb-review-data .cta-wrapper .zwsgr-submit-btn.button-danger {
    margin-right: 0;
    color: white;
    border-color: red;
    background-color: red;
}

body #gmb-review-data .cta-wrapper .zwsgr-submit-btn.button-danger:hover {
    background-color: white;
    color: red;
}

body #gmb-review-data .zwsgr-star-ratings svg {
    margin-right: 3px;
}

body #gmb-review-data #json-response-message .notice-error {
    color: red;
}



@media only screen and (max-width: 767px) {
    body .zwsgr-section-wrap {
        padding: 10px;
    }

    body .zwsgr-nav-tab-wrapper .nav-tab {
        margin: 0;
        padding: 9px;
    }
    body .zwsgr-custom-tab .zwsgr-tab-item {
        padding-bottom: 10px;
    }

    body .zwsgr-layout-radio label {
        margin-bottom: 20px;
    }
    body .zwsgr-widget-wrap .zwsgr-widget-setting {
        width: 100%;
    }
}

    














































































/* 27-11-24 */

body .toplevel_page_zwsgr_dashboard #wpcontent {
    padding: 32px;
    background-color: #fcfcfc;
}

body .zwgr-dashboard .zwgr-dashboard-header {
    padding-bottom: 32px;
    border-bottom: 1px solid rgba(27, 27, 27, 0.1);
}

body .zwgr-dashboard .zwgr-dashboard-header .zwsgr-date-range-filter-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 32px 0;
    width: 100%;
}

body .zwgr-dashboard {
    padding: 20px;
}

body .zwgr-dashboard .zwgr-dashboard-header .zwsgr-range-filter-title {
    font-family: 'Poppins';
    color: #1B1B1B;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    text-align: left;
    margin: 0;    
}

body .zwgr-dashboard .zwgr-dashboard-header .zwsgr-filters-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

body .zwgr-dashboard .zwgr-dashboard-header .zwsgr-filter-item {
    margin: 0 12px 0 0;
}

body .zwgr-dashboard .zwgr-dashboard-header .zwsgr-filter-item:last-child {
    margin: 0;
}

body .zwgr-dashboard .zwgr-dashboard-header .zwsgr-filter-button, 
body .zwgr-dashboard .zwgr-dashboard-header #zwsgr-date-range-picker {
    color: white !important;
    background-color: #3caab4;
    color: #1B1B1B;
    padding: 10px 24px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.14;
    border: none;
    letter-spacing: 0.25px;
    transition: all 0.1s ease-in-out;
}

body .zwgr-dashboard .zwgr-dashboard-header .zwsgr-filter-button:hover, 
body .zwgr-dashboard .zwgr-dashboard-header #zwsgr-date-range-picker:hover {
    background-color: #F08C3C;
}
body .zwgr-dashboard .zwgr-dashboard-header .zwsgr-filter-button.active {
    color: #FCFCFC;
    background-color: #F08C3C;
}

body .zwgr-dashboard .zwgr-dashboard-header .zwsgr-range-filter-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    font-family: 'Poppins';
    color: #1B1B1B;
}

body .zwgr-dashboard .zwgr-dashboard-header #gmb-data-filter #zwsgr-account-select, 
body .zwgr-dashboard .zwgr-dashboard-header #gmb-data-filter #zwsgr-location-select {
    max-width: 310px;
    margin-right: 10px;
}

body .zwgr-dashboard .zwgr-dashboard-header #gmb-data-filter #zwsgr-account-select.disabled, 
body .zwgr-dashboard .zwgr-dashboard-header #gmb-data-filter #zwsgr-location-select.disabled {
    pointer-events: none;
}

@media only screen and (max-width: 767px) {

    body .zwgr-dashboard-header {
        padding-bottom: 16px !important;
    }

    body .zwgr-dashboard #render-dynamic .zwgr-dashboard-body {
        flex-direction: column;
        margin: 0 !important;
    }

    body .zwgr-dashboard #render-dynamic .zwsgr-data-card {
        margin: 0 0 24px 0 !important;
        max-width: -webkit-fill-available !important;
    }

    body .zwgr-dashboard .zwgr-dashboard-header .zwsgr-date-range-filter-wrapper {
        flex-direction: column;
        align-items: flex-start;
        margin: 0 0 16px 0 !important;
    }

    body .zwgr-dashboard .zwgr-dashboard-header .zwsgr-filter-item {
        margin: 0 12px 12px 0 !important;
    }

    body .zwgr-dashboard .zwgr-dashboard-header .zwsgr-filter-item:last-child {
        margin: 0 !important;
    }

    body .zwgr-dashboard .zwgr-dashboard-header .zwsgr-filters-list {
        flex-wrap: wrap;
    }

    body .zwgr-dashboard .zwgr-dashboard-header .zwsgr-date-range-filter-wrapper .zwsgr-title-wrapper {
        margin-bottom: 16px !important;
    }

    .zwgr-dashboard .zwgr-dashboard-header #gmb-data-filter #zwsgr-account-select, 
    body .zwgr-dashboard .zwgr-dashboard-header #gmb-data-filter #zwsgr-location-select {
        max-width: 100%;
        margin: 0 0 16px 0;
    }
    body .zwgr-dashboard .zwgr-dashboard-header #gmb-data-filter .zwsgr-input-text:last-child {
        margin: 0;
    }

}

@media only screen and (max-width: 1024px) {

    body .zwgr-dashboard .zwgr-dashboard-header #gmb-data-filter #zwsgr-account-select {
        max-width: 100% !important;
    }

    body .zwsgr-flex-inner-container .zwsgr_outer_wrapper {
        flex-direction: column;
        justify-content: center;
    }

    body .zwgr-dashboard #render-dynamic .zwsgr-flex-column .zwsgr_chart_legend {
        margin: 0 14px 0 0 !important;
    }

    body .zwsgr-flex-inner-container .zwsgr_outer_wrapper #zwsgr_chart_wrapper {
        margin: 0 20px 0 0 !important;
    }

    body .zwsgr-flex-inner-container .zwsgr_outer_wrapper #zwsr_chart_legend_wrapper {
        display: flex;
        justify-content: space-between;
        margin: 32px 0 0 0;
    }

    body .zwgr-dashboard #render-dynamic .zwgr-dashboard-footer {
        flex-direction: column !important;
        margin: 0 !important;
    }

    body .zwgr-dashboard #render-dynamic .zwsgr-flex-column {
        width: 100% !important;
        margin: 0 0 24px 0;
        padding: 0 !important;
    }
}


body .zwgr-dashboard #render-dynamic {
    padding: 32px 0 0 0;
}

body .zwgr-dashboard #render-dynamic .zwsgr-data-card {
    width: 100%;
    max-width: 286px;
    margin: 0 24px 0 0;
    padding: 24px 27px;
    background-color: white !important;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    pointer-events: auto;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-in-out;
}

body .zwgr-dashboard #render-dynamic .zwsgr-data-card:last-child {
    margin: 0;
}

body .zwgr-dashboard #render-dynamic .zwsgr-data-card .zwsgr-card-icon {
    width: 100%;
    margin-right: 20px;
    max-width: 72px;
    max-height: 72px;
}

body .zwgr-dashboard #render-dynamic .zwsgr-data-card .zwsgr-card-title {
    color: #1B1B1B;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    text-align: left;
    margin: 0 0 6px 0;
}

body .zwgr-dashboard #render-dynamic .zwsgr-data-card .zwsgr-card-value {
    display: inline-block;
    color: #0074A2;
    font-family: 'Poppins';
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    text-align: left;
    margin: 0;
}

body .zwgr-dashboard #render-dynamic .zwsgr-average-rating-card .zwsgr-card-value {
    color: #F08C3C;
}

body .zwgr-dashboard #render-dynamic .zwgr-dashboard-body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 36px 0;
}

body .zwgr-dashboard #render-dynamic .zwgr-dashboard-footer {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 0 -12px;
}

body .zwgr-dashboard #render-dynamic .zwsgr-flex-column {
    width: 50%;
    padding: 0 12px;
}

body .zwgr-dashboard #render-dynamic .zwsgr-flex-column .zwsgr_chart_legend {
    margin: 0 0 32px 0;
}

body .zwgr-dashboard #render-dynamic .zwsgr-flex-column .zwsgr_chart_legend:last-child {
    margin: 0;
}

body .zwgr-dashboard #render-dynamic .zwsgr-flex-column .zwsgr_chart_legend .marker {
    width: 40px;
    height: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

body .zwgr-dashboard #render-dynamic .zwsgr-flex-column .zwsgr_chart_legend .guide {
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}


body .zwgr-dashboard .zwsgr-filters-wrapper input[name="dates"] {
    font-weight: 600 !important;
    max-width: 210px !important;
    text-align: center;
}

body .zwgr-dashboard .zwsgr-filters-wrapper input[name="dates"]::placeholder {
    color: white !important;
}

body .zwgr-dashboard .zwsgr-filters-wrapper input[name="dates"].active::placeholder {
    color: white;
    opacity: 1;
}

body .zwsgr-flex-inner-container {
    height: 100%;
    padding: 24px;
    box-shadow: 0px 0.5px 2px 0px rgba(37, 42, 59, 0.11);
    border-radius: 12px;
}

body .zwsgr-flex-inner-container .zwsgr_outer_wrapper {
    display: flex;
    align-items: center;
    margin: 32px 0 0 0;
}

body .zwsgr-flex-inner-container .zwsgr_outer_wrapper #zwsr_chart_legend_wrapper {
    justify-content: space-between;
    margin: 32px 0 0 0;
}

body .zwsgr-flex-inner-container .zwsgr_outer_wrapper #zwsgr_chart_wrapper {
    margin-right: 7vw;
}

body .zwsgr-flex-inner-container .zwsgr-header-container {
    margin: 0 0 20px 0;
}

body .zwsgr-flex-inner-container .zwsgr-reviews-container {
    max-height: 400px;
    overflow: auto;
}

body .zwsgr-flex-inner-container .zwsgr-reviews-container::-webkit-scrollbar {
    width: 8px; 
}

body .zwsgr-flex-inner-container .zwsgr-reviews-container::-webkit-scrollbar-track {
    background: #F1F1F1; 
    border-radius: 4px;
}

body .zwsgr-flex-inner-container .zwsgr-reviews-container::-webkit-scrollbar-thumb {
    background: #0074A2; 
    border-radius: 4px;
}

body .zwsgr-flex-inner-container .zwsgr-reviews-container::-webkit-scrollbar-thumb:hover {
    background: #0074A2; 
}

body .zwsgr-flex-inner-container .zwsgr-reviews-container .zwsgr-review-item {
    margin: 0 20px 16px 0;
    border-radius: 8px 0px 0px 0px;
    background-color: #F6F6F6;
    padding: 16px;
}

body .zwsgr-flex-inner-container .zwsgr-reviews-container .zwsgr-review-item:last-child {
    margin: 0 20px 0 0;
}

body .zwsgr-flex-inner-container .zwsgr-reviews-container .zwsgr-review-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

body .zwsgr-flex-inner-container .zwsgr-reviews-container .zwsgr-review-header .zwsgr-profile {
    margin: 0 11px 0 0;
    border-radius: 50px;
    width: 32px;
    height: 32px;
}

body .zwsgr-flex-inner-container .zwsgr-reviews-container .zwsgr-review-header .zwsgr-profile img { 
    max-width: 32px;
}

body .zwsgr-flex-inner-container .zwsgr-reviews-container .zwsgr-review-header .zwsgr-title {
    margin: 0 0 2px 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.15;
    text-align: left;
    color: #1B1B1B;
}

body .zwsgr-flex-inner-container .zwsgr-reviews-container .zwsgr-date {
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
    color: #8E8E8E;
}

body .zwsgr-flex-inner-container .zwsgr-reviews-container .zwsgr-title, .zwsgr-flex-inner-container .zwsgr-reviews-container .zwsgr-date {
    font-family: 'Arial';
    margin: 0;
}

body .zwsgr-flex-inner-container .zwsgr-reviews-container .zwsgr-rating {
    margin: 9px 0 9px 0;
}

body .zwsgr-flex-inner-container .zwsgr-reviews-container .zwsgr-content {
    margin: 9px 0 0 0;
    color: #1B1B1B;
    font-family: 'Arial';
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42;
    text-align: left;
}

body .zwsgr-flex-inner-container h4 {
    color: #1B1B1B;
    margin: 0;
    display: inline-block;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
}

body .zwsgr-data-card:hover {
    transform: scale(1.05);
}

body .zwgr-dashboard .loader-outer-wrapper {
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

body .zwgr-dashboard .loader, #gmb-review-data .loader {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 5px solid #F08C3C;
    border-radius: 50%;
    border-top-color: #0074A2;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
  }

  body #gmb-review-data .loader {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2.5px solid #F08C3C;
    border-top-color: #0074A2;
    top: 21.5%;
  }
  
 @keyframes spin {
     to { -webkit-transform: rotate(360deg); }
  }
@-webkit-keyframes spin {
     to { -webkit-transform: rotate(360deg); }
  }




  /* 17-12-24 */
body .zwsgr-disconnect-btn{
    margin-top: 20px !important;
}
body .zwsgr-google-tab-text{
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: red;
}







/* 26-12-24 */
/* Custom Notification Styles */
.zwsgr-notice {
    border: 1px solid #ccc;
    border-left-width: 4px;
    padding: 15px;
    margin: 10px 0;
    position: sticky;
    top: 5%;
    z-index: 99;
    background: #f9f9f9;
    color: #333;
    border-radius: 4px;
}

.zwsgr-notice-success {
    border-left-color: #46b450;
    background: #dff0d8;
    color: #3c763d;
}

.zwsgr-notice-error {
    border-left-color: #dc3232;
    background: #f2dede;
    color: #a94442;
}

.zwsgr-notice-warning {
    border-left-color: #ffba00;
    background: #fcf8e3;
    color: #8a6d3b;
}

.zwsgr-notice-info {
    border-left-color: #0073aa;
    background: #e7f3f8;
    color: #31708f;
}

.zwsgr-notice p {
    margin: 0;
}



/* Style for tooltip container */
.zwsgr-tooltip-container {
    position: relative;
    display: inline-block;
}

/* Style for the tooltip text */
.zwsgr-tooltip-text {
    visibility: hidden;
    width: 160px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%; /* Position the tooltip above the icon */
    left: 50%;
    margin-left: -80px; /* Centers the tooltip */
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Tooltip visibility on hover */
.zwsgr-tooltip-container:hover .zwsgr-tooltip-text {
    visibility: visible;
    opacity: 1;
}