
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}
input:checked + .slider {
    background-color: #0074A2;

}
input:checked + .slider:before {
    transform: translateX(26px);
}


.zwsgr-option-item {
    display: none;
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0.5px 2px 0px #252A3B1C;
    border-radius: 16px;
}

.selected-option-display,
.generated-shortcode-display {
    margin-top: 20px;
    padding: 10px;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    font-size: 18px;
}

.tab-content {
    display: none;
    padding-right: 1rem;
    /*  border: 1px solid #ccc;
    background-color: #fff; */
}

.tab-content.active {
    display: block;
}

.star-filter {
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    transition: fill 0.2s ease;
}

.star-filter.selected svg path {
    fill: #FFD700; /* Gold color for selected stars */
}

.keywords-list {
    margin-top: 10px;
}

.keyword-item {
    display: inline-block;
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.remove-keyword {
    cursor: pointer;
    color: red;
    margin-left: 5px;
}
.error-message {
    margin-top: 5px;  
    font-size: 14px; 
}
.zwsgr-option-item.selected {
    border: 5px solid #285064;
}


/* Final Design CSS */

.zwsgr-page-title {
    font-size: 18px;
    font-weight: 600;
    color: #1B1B1B;
    font-family: 'Poppins', sans-serif;
    border-bottom:1px solid rgba(16, 41, 50, 0.10);
    padding-bottom: 20px;
}
.zwsgr-nav-tab-wrapper {
    border-bottom: 1px solid rgba(221, 225, 231, 1);
}

.zwsgr-nav-tab-wrapper .nav-tab{
    background: none;
    box-shadow: none;
    border: none;
    color: #285064;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 15px;
}

.nav-tab.nav-tab-active {
    background: none !important;
    border: none;
    border-bottom-width: 3px;
    border-bottom-color: #11AAB4 !important;
    border-bottom-style: solid;
}


input.zwsgr-input-text{
    padding: 10px 16px;
    border: 1px solid #C1CFDE;
    background: #FCFCFC;
    height: 48px;
    box-shadow: none;
    color: #4A494B;
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    line-height: 1;
    width: 100%;
    max-width: 500px;
}

.zwsgr-textarea {
    padding: 10px 16px;
    border: 1px solid #C1CFDE;
    background: #FCFCFC;
    height: 200px;
    box-shadow: none;
    color: #4A494B;
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    line-height: 1;
    width: 100%;

}
select.zwsgr-input-text{
    padding: 10px 16px;
    border: 1px solid #C1CFDE;
    height: 48px;
    box-shadow: none;
    color: #4A494B;
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    line-height: 1;
    background: #FCFCFC url('../images/down-arrow.png') no-repeat right 7px top 55%;
    background-size: 16px 10px;
    width: 100%;
    max-width: 500px;
}

select.zwsgr-input-text option {
    font-weight: 400;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
}

select.zwsgr-input-text:focus,
input.zwsgr-input-text:focus {
   box-shadow: none;
   border: 1px solid #C1CFDE;
}

input.zwsgr-checkbox {
    width: 16px;
    height: 16px;
    border-radius: 4px;
    border: 1px solid #9C9C9C;
    background: #F6F6F6;

}
input.zwsgr-checkbox:checked {
    background-color: #11AAB4;  
    border: 1px solid #0074A2;
    border-radius: 4px;
}
input.zwsgr-checkbox:checked:before {
    content: url('../images/checked-icon.png') ;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 14px;
    width: 14px;
    margin: 0;
}
.zwsgr-chechbox-label {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    line-height: 1;
}
.zwsgr-submit-btn.button {
    padding: 20px 24px 20px 24px;
    border-radius: 4px;
    border: 1px solid #11AAB4;
    background-color: #FFFFFF;
    color: #0074A2;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    line-height: 1;
}

.zwsgr-submit-btn.button:hover {
    background-color: #0074A2;
    color: #FFFFFF;
}

.zwsgr-btn {
    background-color: #F08C3C;
    padding: 20px 24px 20px 24px;
    border-radius: 4px;
    color: #102932;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    line-height: 1;
    border: 1px solid #F5B976;
    cursor: pointer;
}

.select-btn.zwsgr-btn {
    padding: 10px;
    font-size: 14px;
}

.zwsgr-btn:hover {
    background-color: #0074A2;
    border: 1px solid #0074A2;
    color: #FFFFFF;
}

.zwsgr-section-wrap {
    border-radius: 16px;
    box-shadow: 0px 0.5px 2px 0px #252A3B1C;
    background: #FFFFFF;
    padding: 20px;
    margin-top: 20px;
}

.zwsgr-section-wrap form h2 {
    display: none;
}


.zwsgr-setting-form th,
.zwsgr-th,
.zwsgr-label {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: #285064;
}

.zwsgr-description {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #285064;
    margin-top: 5px;
}

.zwsgr-notification-field {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}

.zwsgr-notification-field .zwsgr-th-label {
    width: 200px;
}
.zwsgr-notification-field .zwsgr-field {
    width: 100%;
    max-width: 400px;
}

.zwsgr-widget-settings {
    box-shadow: 0px 0.5px 2px 0px #252A3B1C;
    padding: 1rem;
    background-color: #fff;
    border-radius: 12px;
    margin-bottom: 20px;
}

.zwsgr-widget-wrap {
    display: flex;
    flex-wrap: wrap;
}

.zwsgr-widget-wrap .zwsgr-widget-setting {
    width: 45%;
}

.zwsgr-widget-wrap .zwsgr-widget-eleemt-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.zwsgr-widget-wrap .zwsgr-widget-eleemt-list li {
    padding: 0 0 20px 0;
    margin: 0;
    width: 33.33%;
}

.zwsgr-color-options {
    display: flex;
    margin-top: 10px;
}

.zwsgr-color-options .zwsgr-color-picker {
    margin-right: 25px;
    display: flex;
    align-items: center;
}

.zwsgr-color-options .zwsgr-color-picker label {
    padding-right: 10px;
}

.zwsgr-custom-tab {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 30px 0;
}

.zwsgr-custom-tab .zwsgr-tab-item {
    font-size: 14px;
    font-weight: 400;
    color: #4A494B;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    pointer-events: none;
    text-transform: capitalize;
    
}
.zwsgr-custom-tab .zwsgr-tab-item.done {
    pointer-events: all;
}

.zwsgr-custom-tab .zwsgr-tab-item.active {
    color: #285064;
    font-weight: 600;
    pointer-events: all;
}

.zwsgr-custom-tab .zwsgr-tab-item span.zwsgr-step {
    font-weight: 600;
    color: #1B1B1B;
    margin-right: 10px;
    position: relative;
    width: 18px;
    height: 19px;
    background: #f0f0f1;
    border-radius: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
}

.zwsgr-custom-tab .zwsgr-tab-item.done span.zwsgr-step {
    font-size: 0;
}
.zwsgr-custom-tab .zwsgr-tab-item.done span.zwsgr-step:before {
    content: url('../images/step-done-icon.png') ;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 18px;
    width: 18px;
    margin: 0;

}
.zwsgr-custom-tab .zwsgr-step-arrow {
    position: relative;
    margin: 0px 20px;
}

.zwsgr-custom-tab .zwsgr-step-arrow:before, .zwsgr-custom-tab .zwsgr-step-arrow:after {
    content: "";
    background: #4A494B;
    position: relative;
    width: 10px;
    height: 2px;
    display: block;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 2px;
    top: 6px;
}

.zwsgr-custom-tab .zwsgr-step-arrow:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 10px;
}



.zwsgr-slider .zwsgr-slide-item{
    background: #FAFAFA;
    padding: 20px;
    border-radius: 8px;
    margin: 0 10px;
}

.zwsgr-slider .zwsgr-slider-2 .zwsgr-slide-item {
    border: 1px solid #E8EBEF;
    background-color: #FFFFFF;
}

.zwsgr-slider .zwsgr-slide-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.zwsgr-slider .zwsgr-slide-wrap .zwsgr-review-info {
    width: calc(100% - 120px);
}

.zwsgr-slider .zwsgr-profile {
    width: 62px;
    position: relative;
}

.zwsgr-slider .zwsgr-slide-wrap .zwsgr-profile img {
    width: 62px;
    height: 62px;
    border-radius: 100%;
}

.zwsgr-slider .zwsgr-slide-wrap .zwsgr-google-icon {
    width: 20px;
}

.zwsgr-slider .zwsgr-slide-wrap .zwsgr-google-icon img{
    width: 20px;
    height: 20px;
}

.zwsgr-slider .zwsgr-content {
    font-size: 14px;
    color: #1B1B1B;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 10px 0;
}

.zwsgr-slider .zwsgr-title {
    font-size: 16px;
    color: #1B1B1B;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin:  0 0 5px 0;
}

.zwsgr-slider .zwsgr-days-ago {
    font-size: 14px;
    color: #8E8E8E;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin:  0;
    line-height: normal;
}

.zwsgr-slider .zwsgr-star {
    font-size: 20px;
    color: #ccc;
}

.zwsgr-slider .zwsgr-star.filled {
    color: #f39c12;
}


.zwsgr-layout-title {
    font-size: 20px;
    color: #1B1B1B;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}


.zwsgr-slider {
    padding: 0 30px;
}

.zwsgr-slider#zwsgr-slider4{
    max-width: 650px;
    margin: 0 auto;
}

.zwsgr-slider#zwsgr-slider5 {
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
}

.zwsgr-slider#zwsgr-slider5 .zwsgr-slide-item {
    background-color: transparent;
    padding: 0;
}

.zwsgr-slider#zwsgr-slider5 .zwsgr-contnt-wrap {
    background-color: #FAFAFA;
    padding: 20px;
    border-radius: 8px;
}

.zwsgr-slider#zwsgr-slider5 .zwsgr-contnt-wrap p {
    margin-top: 0;
}

.zwsgr-slider#zwsgr-slider5 img {
    margin: 0 auto;
}

.zwsgr-slider#zwsgr-slider5 .zwsgr-rating {
    margin: 0 auto 30px;
}

.zwsgr-slider#zwsgr-slider5 .zwsgr-title {
    margin-top: 20px;
}

.zwsgr-slider#zwsgr-slider6 .zwsgr-content {
    text-align: center;
}

.zwsgr-slider#zwsgr-slider6 .zwsgr-rating {
    margin: 0 auto 10px;
}

.zwsgr-slide-wrap4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 25px;
}

.zwsgr-slide-wrap4 .zwsgr-google-icon {
    position: absolute;
    width: 20px;
    bottom: 0;
    right: 0;
}

.zwsgr-slider .zwsgr-rating {
    width: 90px;
}

.zwsgr-slide-wrap4 .zwsgr-review-info {
    width: calc(100% - 200px);
}


.zwsgr-slider .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 9;
    padding: 0;
    width: 25px;
    height: 25px;
    color: #3A4554;
    border: 0;
    border-radius: 100%;
    background-color: transparent;
    transform: translate(0, -50%);
    transition: border-color ease 0.3s;
    font-size: 0;
    left: -3%;
    cursor: pointer;
}

.zwsgr-slider .slick-arrow.slick-next {
    right: -3%;
    left: auto;
}

.zwsgr-slider .slick-arrow.slick-prev::before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    border-left: 4px solid #3A4554;
    border-top: 4px solid #3A4554; 
    transform: rotate(-45deg); 
}

.zwsgr-slider .slick-arrow.slick-next::before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    border-right: 4px solid #3A4554;
    border-top: 4px solid #3A4554;
    transform: rotate(45deg); 
}

.zwsgr-layout-title-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.zwsgr-rating-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.zwsgr-rating-wrap .zwsgr-rating {
    margin-right: 20px;
}

.zwsgr-layout-radio {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0.5px 2px 0px #252A3B1C;
    border-radius: 16px;
}

.zwsgr-layout-radio label { 
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1;
    margin-right: 30px;
}

input.zwsgr-radio {
    width: 17px;
    height: 17px;
    position: relative;
}

input.zwsgr-radio:checked::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    width: 10px;
    height: 10px;
}

.zwsgr-gmbc-outer-wrapper {
    position: absolute;
    min-height: 100vh;
    width: calc(100% + 20px);
    left: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.zwsgr-gmbc-outer-wrapper::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    z-index: 2;
}

.zwsgr-gmbc-outer-wrapper .zwsgr-gmbc-container {
    width: 100%;
    max-width: 500px;
    min-height: 125px;
    background-color: white;
    position: relative;
    padding: 25px;
    border-radius: 8px;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.zwsgr-gmbc-outer-wrapper .zwsgr-gmbc-inner-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.zwsgr-gmbc-outer-wrapper .zwsgr-gmbc-inner-wrapper span, .zwsgr-gmbc-outer-wrapper .zwsgr-gmbc-inner-wrapper input {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: #285064;
    text-align: center;
    margin: 0 0 15px 0 !important;
}

.zwsgr-gmbc-outer-wrapper .zwsgr-gmbc-inner-wrapper input {
    text-align: left;
}

#fetch-gmb-auth-url #fetch-gmb-auth-url-response .error, #fetch-gmb-auth-url #fetch-gmb-auth-url-response .success {
    font-size: 13px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: red;
    text-align: left;
    margin: 0 0 10px 0 !important;
}

#fetch-gmb-auth-url #fetch-gmb-auth-url-response .success {
    color: green;
}

#fetch-gmb-data .notice {
    margin: 10px 0 !important;
}


@media only screen and (max-width: 782px) {
    .zwsgr-gmbc-outer-wrapper {
        left: -10px;
        width: calc(100% + 10px);
    }
    .zwsgr-gmbc-outer-wrapper .zwsgr-gmbc-container {
        max-width: 556px !important;
    }
}

@media only screen and (max-width: 576px) {
    .zwsgr-gmbc-outer-wrapper .zwsgr-gmbc-container {
        max-width: 300px !important;
    }
}

/* General button styles */
#gmb-review-data .button-large {
    font-size: 14px;
    font-weight: 600;
}

/* Update button specific style */
#gmb-review-data #update-replay {
    margin: 10px 10px 0 0;
}

/* Add Replay button specific style */
#gmb-review-data #add-replay {
    margin: 10px 10px 0 0;
}

/* Delete button specific style */
#gmb-review-data #delete-replay {
    background-color: red;
    color: white;
    border-color: red;
    margin: 10px 10px 0 0;
}