.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}
input:checked + .slider {
    background-color: #2196F3;
}
input:checked + .slider:before {
    transform: translateX(26px);
}



.option-item {
    display: none;
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}

.selected-option-display,
.generated-shortcode-display {
    margin-top: 20px;
    padding: 10px;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    font-size: 18px;
}



.tab-nav {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin-bottom: 1rem;
}

.tab-item {
    padding: 0.5rem 1rem;
    cursor: pointer;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    margin-right: 0.5rem;
}

.tab-item.active {
    background-color: #0073aa;
    color: white;
}

.tab-content {
    display: none;
    padding: 1rem;
    border: 1px solid #ccc;
    background-color: #fff;
}

.tab-content.active {
    display: block;
}

.star-filter {
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    transition: fill 0.2s ease;
}

.star-filter.selected svg path {
    fill: #FFD700; /* Gold color for selected stars */
}

.keywords-list {
    margin-top: 10px;
}

.keyword-item {
    display: inline-block;
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.remove-keyword {
    cursor: pointer;
    color: red;
    margin-left: 5px;
}
.error-message {
    margin-top: 5px;  
    font-size: 14px; 
}
.option-item.selected {
    border: 5px solid red;
}

.gmbc-outer-wrapper {
    background-color: white;
    position: relative;
    height: 100vh;
    width: 100%;
}

.gmbc-inner-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#fetch-gmb-data .notice {
    margin: 10px 0 !important;
}

/* General button styles */
#gmb-review-data .button-large {
    font-size: 14px;
    font-weight: 600;
}

/* Update button specific style */
#gmb-review-data #update-replay {
    margin: 10px 10px 0 0;
}

/* Add Replay button specific style */
#gmb-review-data #add-replay {
    margin: 10px 10px 0 0;
}

/* Delete button specific style */
#gmb-review-data #delete-replay {
    background-color: red;
    color: white;
    border-color: red;
    margin: 10px 10px 0 0;
}